html{
    font-size: 10px;
    color-scheme: light dark;
}
.theme-light{
    --color-main-background: #3a4764;
    --color-keypad-background: #232c43;
    --color-screen-background: #182034;
    --color-key-background: #637097;
    --color-key-main-hover: #ffffff;
    --color-key-del-hover: #7484b1;
    --color-key-shadow: #404e72;
    --color-toggle: #d03f2f;
    --color-toggle-hover: #ed5a4a;
    --color-toggle-shadow: #93261a;
    --color-key-light: #eae3dc;
    --color-key-light-shadow: #b4a597;
    --color-text-bttn: #444b5a;
    --color-text-equal: #fff;
    --color-text-main: #fff;  
    --color-text-white: #fff;  
    --color-icon-hover: #ffe53d;  
     
}
.theme-dark { 
    --color-main-background: #160628;
    --color-keypad-background: #1d0934;
    --color-screen-background: #1d0934;
    --color-key-background: #58077d;
    --color-key-main-hover:  #571f8c;
    --color-key-del-hover: #7516a1;
    --color-key-shadow: #bc15f4;
    --color-toggle: #00e0d1;
    --color-toggle-hover: #6bf6ec ;
    --color-toggle-shadow: #37a29d;
    --color-key-light: #341c4f;
    --color-key-light-shadow: #871c9c;
    --color-text-bttn: #ffe53d;
    --color-text-white: #fff;
    --color-text-equal:#1b2428;
    --color-text-main: #ffe53d;      
    --color-icon-hover: #fff;  
}
*{
    box-sizing: border-box;
    margin:0;
}
body{
    background-color: var(--color-main-background);
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var( --color-text-main); 
}
.wrapper{
    width: 400px;
    max-width: 90%;
    margin: 0 auto;
    
}
.header{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem ;
}
.header__text{
    font-size: 2.2rem;
}

.theme__icon{
    background-color: transparent;
    border: none;
    text-decoration: none;

}
.theme__icon:focus{
    background-color: transparent;
}
.material-icons{
    color: var(--color-text-main);
}
.material-icons:hover{
    color: var(--color-icon-hover);
}

.screen {
    background-color: var(--color-screen-background);
    border-radius: 10px;
    height:7rem;
    margin:0.5rem 0 2rem;   
    padding: 1.5rem;
    border: none;
    outline: none;

}
.screen__input{
    border: none !important;
    font-size: 3.2rem !important;
    direction:RTL;
    color:var( --color-text-main); 
}
.keypad{
    background-color: var(--color-keypad-background);
    height: 25rem;
    border-radius: 10px; 
    padding:1.75rem;
    display: grid;
    grid-gap: 7px;
    grid-template-columns: repeat(4, auto);
    grid-template-areas:
    "seven eight nine del"
    "four five six plus"
    "one two three minus"
    "decimal zero clear mul"
    "reset reset equal equal"
    ;
}

.bttn{
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    border: none;
    text-decoration: none;
    height: 3.5rem;
    font-size: 2rem;
    border-radius: 8px;
    background-color:var(--color-key-light);
    color: var(--color-text-bttn);    
    box-shadow: inset 0 -1.5px 0 1px var( --color-key-light-shadow); 
    
}
.bttn:focus,
.bttn:hover{
    background-color:var( --color-key-main-hover)
}

.one {
    grid-area: one;
  }
.two {
    grid-area: two;
  }
.three {
    grid-area: three;
  }
.four {
    grid-area: four;
  }
.five {
    grid-area: five;
  }
.six {
    grid-area: six;
}
.seven {
    grid-area: seven;
}
.eight {
    grid-area: eight;
}
.nine {
    grid-area: nine;
}
.zero {
    grid-area: zero;
}
.decimal {
    grid-area: decimal;
}
.reset {
    grid-area: reset;
    color: var( --color-text-white);
    background-color: var(--color-key-background);
    box-shadow: inset 0 -1.5px 0 1px  var( --color-key-shadow); 
}
.reset:focus,
.reset:hover{
    background-color: var(--color-key-del-hover);

}
.mul {
    grid-area: mul;
}
.minus {
    grid-area: minus;
}
.plus {
    grid-area: plus;
}
.equal {
    grid-area: equal;
    color: var( --color-text-equal);
    background-color:  var( --color-toggle);
    box-shadow: inset 0 -1.5px 0 1px   var(--color-toggle-shadow); 
}
.equal:focus,
.equal:hover{
    background-color: var(--color-toggle-hover);
}
.del {
    grid-area: del;
    color: var( --color-text-white);
    background-color: var(--color-key-background);
    box-shadow: inset 0 -1.5px 0 1px  var( --color-key-shadow); 
}
.del:focus,
.del:hover{
    background-color: var(--color-key-del-hover);

}


  

  